<div class="main">
    <h1 class="title">ようこそ　Bookersへ！</h1>
    
    <div class="topbody">
    <p class="notice"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <p class="notice">印象を共有し交換することができます</p>
    <%= link_to 'Start',books_path %>
    </div>
    
</div>